---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>Velkommen til Hagensen Software.</p>
  <p>
    Vi er et mindre software hus, som udvikler software produkter af høj kvalitet og varetager den daglige drift af produkterne i skyen.
    Vi udvikler primært generelt anvendelige produkter, som potentielt har flere kunder og dermed har en mere attraktiv pris end en kundespecifik løsning.
  </p>
  <p>
    Vi foretrækker at udvikle produkter i samarbejde med kunder og brugere af vores produkter med udgangspunkt i kundernes specifikke behov.
    På baggrund af de specifikke behov designer og udvikler vi et generelt produkt som både dækker behovene og har en bredere målgruppe.
  </p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
